body {
  background-color: var(--principal-cor-fundo);
}
header {
  font-family: var(--principal-fonte);
  font-size: 45pt;
  color: white;
  text-align: center;
  text-shadow: var(--contorno-texto);
  margin: 15px;
  margin-bottom: 35px;
}

section {
  background-color: white;
  margin: auto;
  height: 400px;
  width: 700px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.61);
  flex-direction: column;
}

footer {
  color: white;
  font-style: italic;
  font-size: 13px;
  font-family: var(--principal-fonte);
  text-shadow: var(--contorno-texto);
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}
