/* Reset geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove sublinhado de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove bullets de listas 
ul, ol {
  list-style: none;
}*/

/* Herdar fontes
body, button, input, textarea {
  font-family: inherit;
  color: inherit;
}*/

/* Imagens e vídeos responsivos 
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}*/
