button {
  border-radius: 34px;
  font-family: fantasy;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.initialButton {
  width: 350px;
  height: 80px;
  font-size: 35pt;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.mensageDiv,
.mensageDivReady,
.mensageDivGenerator,
.gameTitle,
.historyTitle {
  background-color: transparent;
  width: 440px;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
  font-family: cursive;
  font-size: 13pt;
  color: black;
  justify-content: space-between;
  height: 100%;
}

h3 {
  text-align: center;
  font-size: 30pt;
  padding-top: 0px;
  padding-bottom: 15px;
}

.mensageDiv ul {
  list-style-type: none;
}
.mensageDiv ul li {
  font-size: 14px;
  margin: 5px;
}

.mensageDivReady,
.mensageDivGenerator {
  display: flex;
  flex-direction: column;
  font-size: 15pt;
  text-align: center;
  justify-content: center;
}
.mensageDivGenerator {
  font-size: 20pt;
  font-weight: bolder;
}

.divButtons,
.restartButtons {
  display: flex;
  justify-content: space-between;
  gap: 25rem;
  margin: auto;
  padding: 10px;
}
.navButtons {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  margin-top: 0px;
  background-color: transparent;
  border: none;
}

.gameTitle {
  background-color: transparent;
  width: 440px;
  padding: 30px;
  padding-top: 5px;
  font-family: cursive;
  color: black;
  justify-content: space-between;
  height: auto;
  font-size: 40px;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

input {
  border: 1px solid black;
  border-radius: 15px;
  cursor: auto;
  width: 200px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.gameButton {
  width: 120px;
  height: 40px;
  font-size: 15pt;
  margin-bottom: 25px;
}

.feedback {
  color: rgb(212, 13, 13);
  font-family: cursive;
  font-size: 22px;
}

input:disabled,
button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
  border: 1px solid #999;
}
.restartButtons {
  gap: 15rem;
}

.exitButton,
.restartButton {
  font-size: 20px;
  padding: 10px;
}

.historyTitle {
  margin: 5px;
  padding: 5px;
  height: auto;
}

.guess {
  font-size: 13pt;
  text-align: center;
  font-family: cursive;
}
